<h1>Listing chairs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chairs.each do |chair| %>
  <tr>
    <td><%= link_to 'Show', chair %></td>
    <td><%= link_to 'Edit', edit_chair_path(chair) %></td>
    <td><%= link_to 'Destroy', chair, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chair', new_chair_path %>
