


<div class="span-11 push-2 last subhed" id="background"> Thank you for visiting samwalton.me.</p>
<p span class="small">To view the current vita, you must have been given a custom website. Perhaps
it was mis-keyed? If you're not sure, call the phone number above.</span></p>

<img align     = "center"
     alt       = "Sam W. Walton"
     height    = "409px"
     hspace    = "0"
     src       = "sam-w-1.gif"
     width     = "391px"
     />
     </div>