<h1>Listing chairs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @openings.each do |opening| %>
  <tr>
    <td><%= link_to 'Show', opening %></td>
    <td><%= link_to 'Edit', edit_opening_path(opening) %></td>
    <td><%= link_to 'Destroy', opening, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chair', new_openings_path %>