
<p id="notice"><%= notice %></p>
<div id="objective" class="span-18 last">
<p class="subhed centre tight">Career Objective</p>
<p class="base"><%= @opening.objective %></p>
</div>
<div id="experience" class="span-18 last">
<p class="subhed centre tight">Experience</p>
<!-- <div id="recent" class="span-18 last"> -->
<p class="subhed tight">Grizzard, Inc., Atlanta, Ga.</p>
<p class="base prepend-1"><%=raw simple_format h(@opening.grizzard)  %></p>
<!-- </div> -->
<p class="subhed tight">Panaprint, Inc., Macon, Ga.</p>
<p class="base">Composition Department manager from January 1994 to January 1995. I took over management of this five-person team responsible for handling customer artwork and turning it into error-free output for this 45-person commercial printing plant. My task was to eliminate bottlenecks and help the team to use untapped capabilities in the new systems. The goal was achieved when productivity increased by 25 percent and meeting 95 per cent of the deadlines.</p>
<p class="subhed tight">The Union-Recorder, Milledgeville, Ga.</p>
<p class="base leftedge">News Editor of Page 1A and related news pages for this 8,5000-circulation five-day morning Knight-Ridder newspaper from 1993 to 1994. To get to this position, I taught myself to use the new Macintosh and PC software to advance the newspaper to pagination integrating text, artwork and photos. This was an outgrowth of my career as a photojournalist from 1986.</p>
<p class="subhed tight">The Gwinnett Daily News, Lawrenceville, Ga.</p>
<p class="base leftedge">Staff photographer from October 1985 to February 1986 for this 33,000-circulation daily morning newspaper. Work included full range of news, sports and feature photojournalism, in color and black and white.</p>
<p class="subhed tight">Experience prior to graduation</p>
<p class="base"><b>The Atlanta Journal and Constitution, </b>Atlanta, Ga. – Covered Northeast Georgia on assignment basis while a student for two years, except time on intern programs for this 250,000-circulation daily morning and afternoon paper. Was assigned a UPI photo transmitter in Athens, Ga.</p>
<p class="base"><b>The Chattanooga Times,</b> Chattanooga, Tenn. – Student intern with full responsibilities as a photographer.</p>
<p class="base"><b>The Florida Times-Union,</b> Jacksonville, Fla. – Student intern with full responsibilities as a photographer.</p>
<p class="base"><b>The Red and Black,</b> Athens, Ga. – Photo editor for daily student newspaper from 1981 to 1983.</p>
<p class="base"><b>The Leader-Tribune,</b> Fort Valley, Ga. – Staff photographer, darkroom manager from 1975 to 1981.</p>
</div>
<div id="skills" class="span-18 last">
<p class="head centre tight"><b>Skills</b></p>
<p class="span-18 last tight"><%=raw simple_format h(@opening.skill)  %></p>
</div>
<div id="education" class="span-18 last">
<p class="head centre tight"><b>Education</b></p>
<p class="base 24-span last">Graduated June 1985 from Henry W. Grady School of Journalism and Mass Communications, University of Georgia, with a major in newspapers and a minor in Religion. Earned 50 percent of college expenses as photojournalist.</p>
<p class="head centre tight"><b>References</b></p>
</div>
<div id="references" class="span-13">
<p class="base">Judy Howard, Production Manager, Grizzard, Atlanta, Ga. (404) 935-7121 (Recent supervisor)</p>
<p class="base">Ron Thurmond, Controller, Grizzard, Atlanta, Ga. (404) 635-5731 (former Controller)</p>
<p class="base">Clyde Tallent, Grizzard, Atlanta, Ga. (404) 428-1972 (peer supervisor)</p>
<p class="base">Stuart Scruggs, Ivey Construction, Stone Mountain, Ga. (404) 771-7812 (personal friend)</p>
</div>
 
<div id="bug" class="span-4 last">

 <table>
 	<tr>
 		<td class="bug span-2"><a href="../print.css">Click here to display a copy ready to print.</a></td>
 		<td class="space span-6"></td>
 	</tr>
 </table>
</div>



