body {
 background-color : #FFFFFF;
 }
    
#background,  #references { display : none;
}

#background {
  /*background-color: #68FF00;*/
  
}
#address {
  /*background-color: #E1A200;*/
}
#objective {
 /* background-color: #EBFF00;*/
}
#recent {
  /*background-color: #E14400;*/
}
#experience {
  /*background-color: #E144C0;*/
}
#skills {
  /*background-color: #E1F5C0;*/
}
#education {
  /*background-color: #99FF99;*/
}
#references {
  /*background-color: #9999FF;*/
}


body {font-size:100%;}
    p {
        font-family: 'Times New Roman', serif;
        text-align: left;
    }
    p.base {margin: 0.0px 0.0px 0.0px 0.0px; font-size:1em;}
    p.head {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font-size:1em;}
    p.smaller {margin: 6.0px 0.0px 0.0px 0.0px; font-size:1em;}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font-size:1em; min-height: 15.0px}

