

<div id="objective" class="24-span last">
<p class="head"><b>Career Objective</b></p>
<p class="base"><%= @position.objective %></p>
</div>
<div id="experience">
<p class="head"><b>Experience</b></p>
<div id="recent">
<p class="base"><b>Grizzard, Inc., Atlanta, Ga.</b></p>
<p class="base"><%= @position.grizzard %></p>
</div>
<p class="base"><b>Panaprint, Inc., Macon, Ga.</b></p>
<p class="base">Composition Department manager from January 1994 to January 1995. I took over management of this five-person team responsible for handling customer artwork and turning it into error-free output for this 45-person commercial printing plant. My task was to eliminate bottlenecks and help the team to use untapped capabilities in the new systems. The goal was achieved when productivity increased by 25 percent and meeting 95 per cent of the deadlines.</p>
<p class="base"><b>The Union-Recorder, Milledgeville, Ga.</b></p>
<p class="base">News Editor of Page 1A and related news pages for this 8,5000-circulation five-day morning Knight-Ridder newspaper from 1993 to 1994. To get to this position, I taught myself to use the new Macintosh and PC software to advance the newspaper to pagination integrating text, artwork and photos. This was an outgrowth of my career as a photojournalist from 1986.</p>
<p class="base"><b>The Gwinnett Daily News, Lawrenceville, Ga.</b></p>
<p class="base">Staff photographer from October 1985 to February 1986 for this 33,000-circulation daily morning newspaper. Work included full range of news, sports and feature photojournalism, in color and black and white.</p>
<p class="head"><b>Experience prior to graduation</b></p>
<p class="base"><b>The Atlanta Journal and Constitution, </b>Atlanta, Ga. – Covered Northeast Georgia on assignment basis while a student for two years, except time on intern programs for this 250,000-circulation daily morning and afternoon paper. Was assigned a UPI photo transmitter in Athens, Ga.</p>
<p class="base"><b>The Chattanooga Times,</b> Chattanooga, Tenn. – Student intern with full responsibilities as a photographer.</p>
<p class="base"><b>The Florida Times-Union,</b> Jacksonville, Fla. – Student intern with full responsibilities as a photographer.</p>
<p class="base"><b>The Red and Black,</b> Athens, Ga. – Photo editor for daily student newspaper from 1981 to 1983.</p>
<p class="base"><b>The Leader-Tribune,</b> Fort Valley, Ga. – Staff photographer, darkroom manager from 1975 to 1981.</p>
</div>
<div id="skills">
<p class="head"><b>Skills</b></p>
<p class="smaller">Managing multiple projects with competing due dates, hiring, firing, P&amp;L management, managing customer expectations with internal clients, purchase orders within an Sarbanes-Oxley environment and team building. Developing and exploiting available technology to increase quality and reduce bottlenecks in workflow.</p>
<p class="smaller">Subject matter expert on Adobe CS print applications such as Adobe Photoshop, Indesign, Illustrator, Acrobat and other PDF technology. This includes 20 years of ancillary utilities, previous versions and competitor's applications that all support my extensive history to solve problems. Proficient with Filemaker Pro and learning mysql, Ruby on Rails.</p>
</div>
<div id="education">
<p class="head"><b>Education</b></p>
<p class="base">Graduated June 1985 from Henry W. Grady School of Journalism and Mass Communications, University of Georgia, with a major in newspapers and a minor in Religion. Earned 50 percent of college expenses as photojournalist.</p>
</div>
<div id="references" class="section">
<p class="head"><b>References</b></p>
<p class="base">Judy Howard, Production Manager, Grizzard, Atlanta, Ga. (404) 935-7121 (Recent supervisor)</p>
<p class="base">Ron Thurmond, Controller, Grizzard, Atlanta, Ga. (404) 635-5731 (former Controller)</p>
<p class="base">Clyde Tallent, Grizzard, Atlanta, Ga. (404) 428-1972 (peer supervisor)</p>
<p class="base">Stuart Scruggs, Ivey Construction, Stone Mountain, Ga. (404) 771-7812 (personal friend)</p>
</div>
 
<div id="bug" class="section">
 <p class="bug"><a href="../print.css">Click here to display a copy ready to print.</a>
 </p>
</div>


