/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
 background-color : #681400;
 }
    
#background, #address, #objective, #recent, #experience, #skills, #education, #references {
  /*border: 1px solid red;*/
  background-color: #FFE1AE;
  padding: 5px;
  margin-bottom: 2px;
}

#background {
  /*background-color: #68FF00;*/
  
}
#address {
  /*background-color: #E1A200;*/
}
#objective {
 /* background-color: #EBFF00;*/
}
#recent {
  /*background-color: #E14400;*/
}
#experience {
  /*background-color: #E144C0;*/
}
#skills {
  /*background-color: #E1F5C0;*/
}
#education {
  /*background-color: #99FF99;*/
}
#references {
  /*background-color: #9999FF;*/
  float:left; margin-left: -5px; min-width: 170px; width: 80%;
}
#bug {
  float:right; width: 20%; margin: 0.3em -0.3em; min-height: 6.0em; min-width: 17px; 
  background-color: #FF9999;
}

body {font-size:100%;}
    p {
        font-family: 'Times New Roman', serif;
        text-align: left;
    }
    p.base {margin: 0.0px 0.0px 0.0px 0.0px; font-size:1em;}
    p.head {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font-size:1em;}
    p.smaller {margin: 6.0px 0.0px 0.0px 0.0px; font-size:1em;}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font-size:1em; min-height: 15.0px}
p.bug {font-family: 'Verdana', Geneva, sans-serif;
text-align: center;  margin: 0.0px 0.0px 0.0px 0.0px; font-size:1em; min-height: 15.0px}

