<!DOCTYPE html>
<html> 
<head>
  <title>vitae</title>
  <%= render  'layouts/stylesheets' %>
</head>
<body > 
<div class="container">
  <div id="header" class="span-23 last">	
    <nav class="round">
    
    </nav>
  </header>
</div>  
<section>
    <%= yield %>
  </section>




</body>
</html>
